@model Group1hospitalproject.Models.ViewModels.UpdateJob
@{
    ViewBag.Title = "Edit";
}

<h2>Update Job</h2>
<form action="/Job/Update/@Model.SelectedJob.JobId" method="POST">
    <div style="display:none;">
        <input type="text" name="JobId" value="@Model.SelectedJob.JobId" />
    </div>

    <div>
        <label>JobTitle:</label> <input type="text" name="JobTitle" value="@Model.SelectedJob.JobTitle" />
        <label>Jobtype:</label> <input type="text" name="Jobtype" value="@Model.SelectedJob.Jobtype" />
         <div>
             <label>Description:</label>
         </div> 
        <textarea name="Descriptions" rows="4" cols="50">@Model.SelectedJob.Descriptions</textarea>
       
        <div>
            <label>Department Name:</label>
            <select name="DepartmentID">
                @foreach (var department in Model.DepartmentOptions)
                {
                    <option value="@department.DepartmentID">@department.DepartmentName</option>
                }
            </select>
        </div>

    </div>


    <div>
        <input type="submit" value="Update Job" />

    </div>
 
</form>


